/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../scss/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../scss/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------
	Grid
-------------------------------------------------------------------*/
/**
 * Profound Grid
 *
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts,
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 *
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 *
 * Nested columns are supported too, without having to reset the grid on each level.
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Colors
-------------------------------------------------------------------*/
/* Green */
/* Yellow */
/* Red */
/*------------------------------------------------------------------
	General variables
-------------------------------------------------------------------*/
/* Responsive */
/*------------------------------------------------------------------
	Responsive breakpoints
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Responsive breakpoints
-------------------------------------------------------------------*/
/* Normall fill for smaller screens */
/* @one-property: property desktop tablet mobile */
/* @example: @include responsive(padding-right 19% false $baseline) */
/* @two-properties: property-1 desktop tablet mobile, property-2 desktop tablet mobile */
/* @example: @include responsive(padding-right 19% false $baseline, padding-left 19% false $baseline) */
/*------------------------------------------------------------------
	Modernizr checks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	SVG with PNG sprite fallback
-------------------------------------------------------------------*/
/* use this: */
/*------------------------------------------------------------------
	typography mixins and functions
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	General mixins
-------------------------------------------------------------------*/
/* creates an RGBa background, and uses filter as fall back for old IE
@example: @include rgba-background(#000, 0.5); */
/* easily create a linear gradient without worrying about different prefixes of IE fallback
NOTE: the IE fallback also applies to modern IE, so make sure you set "filter: none !important;" on IE > 8
@example normal gradient: @include simple-gradient(#000, #FFF);
@example horizontal gradient: @include simple-gradient(#000, #FFF, horizontal);
@example no SVG fallback for IE9: @include simple-gradient(#000, #FFF, vertical, false); */
/* Make new list based on variable/mixin list */
/* make it easy to include a font via font-face
includes eot by default, other font types are optional
Example: @include custom-font('myFontName', 'folder', ('', 'light', 'bold'), ('woff', 'ttf')); */
@font-face {
  /* Sets file name */
  /* Sets file path */
  font-family: "entypo";
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype'), url('../fonts/entypo.eot') format('embedded-opentype'), url('../fonts/entypo.svg') format('svg');
}

/* Creates class for font */
/* line 213, ../scss/_mixins.scss */
.entypo {
  font-family: "entypo";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Sets file name */
  /* Sets file path */
  font-family: "blanch-caps";
  src: url('../fonts/blanch-caps.eot');
  src: url('../fonts/blanch-caps.eot?#iefix') format('embedded-opentype'), url('../fonts/blanch-caps.woff') format('woff'), url('../fonts/blanch-caps.ttf') format('truetype'), url('../fonts/blanch-caps.eot') format('embedded-opentype'), url('../fonts/blanch-caps.svg') format('svg');
}

/* Creates class for font */
/* line 213, ../scss/_mixins.scss */
.blanch-caps {
  font-family: "blanch-caps";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Sets file name */
  /* Sets file path */
  font-family: "blanch-condensed";
  src: url('../fonts/blanch-condensed.eot');
  src: url('../fonts/blanch-condensed.eot?#iefix') format('embedded-opentype'), url('../fonts/blanch-condensed.woff') format('woff'), url('../fonts/blanch-condensed.ttf') format('truetype'), url('../fonts/blanch-condensed.eot') format('embedded-opentype'), url('../fonts/blanch-condensed.svg') format('svg');
}

/* Creates class for font */
/* line 213, ../scss/_mixins.scss */
.blanch-condensed, h1 {
  font-family: "blanch-condensed";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Sets file name */
  /* Sets file path */
  font-family: "aleo-regular";
  src: url('../fonts/aleo-regular.eot');
  src: url('../fonts/aleo-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/aleo-regular.woff') format('woff'), url('../fonts/aleo-regular.ttf') format('truetype'), url('../fonts/aleo-regular.eot') format('embedded-opentype'), url('../fonts/aleo-regular.svg') format('svg');
}

/* Creates class for font */
/* line 213, ../scss/_mixins.scss */
.aleo-regular {
  font-family: "aleo-regular";
  font-weight: normal;
  font-style: normal;
}

/* line 8, ../scss/_typography.scss */
body {
  color: #533110;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 12, ../scss/_typography.scss */
.dark-section, .intro-section, .coffee-section, .gallery-section, .contact-section {
  color: white;
}

/* line 16, ../scss/_typography.scss */
a {
  color: #603913;
  text-decoration: none;
}

/* line 21, ../scss/_typography.scss */
.dark-section a, .intro-section a, .coffee-section a, .gallery-section a, .contact-section a {
  color: white;
}

/*------------------------------------------------------------------
	Headers and other font styles
-------------------------------------------------------------------*/
/* line 29, ../scss/_typography.scss */
.font-xxlarge, h1, blockquote .quote:before, blockquote .quote:after {
  font-size: 5.625em;
  line-height: 1.06666667em;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 30, ../scss/_typography.scss */
.font-xlarge {
  font-size: 3.3125em;
  line-height: 1.35849057em;
  margin-top: 0.45283019em;
  margin-bottom: 0.45283019em;
}

/* line 31, ../scss/_typography.scss */
.font-large, .entypo {
  font-size: 2.6875em;
  line-height: 1.11627907em;
  margin-top: 0.55813953em;
  margin-bottom: 0.55813953em;
}

/* line 32, ../scss/_typography.scss */
.font-medium, h3 {
  font-size: 1.875em;
  line-height: 1.6em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/* line 33, ../scss/_typography.scss */
.font-small {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 34, ../scss/_typography.scss */
.font-xsmall {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

/* line 35, ../scss/_typography.scss */
.font-xxsmall, h2, blockquote .quote, .ribbon .ribbon-content, .intro-section .map-nav .link a, blockquote .byline {
  font-size: 0.9375em;
  line-height: 1.6em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

/* line 36, ../scss/_typography.scss */
.font-base, p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@media (max-width: 700px) {
  /* line 38, ../scss/_typography.scss */
  .font-xxlarge, h1, blockquote .quote:before, blockquote .quote:after {
    font-size: 3.3125em;
    line-height: 1.35849057em;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 39, ../scss/_typography.scss */
  .font-xlarge {
    font-size: 2.6875em;
    line-height: 1.11627907em;
    margin-top: 0.55813953em;
    margin-bottom: 0.55813953em;
  }

  /* line 40, ../scss/_typography.scss */
  .font-large, .entypo {
    font-size: 1.875em;
    line-height: 1.6em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  /* line 41, ../scss/_typography.scss */
  .font-medium, h3 {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* line 42, ../scss/_typography.scss */
  .font-small {
    font-size: 1.25em;
    line-height: 1.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
}
/* line 48, ../scss/_typography.scss */
h1.title {
  text-shadow: 6px 5px 0px rgba(0, 0, 0, 0.15);
}

/* line 53, ../scss/_typography.scss */
h2, blockquote .quote, .ribbon .ribbon-content, .intro-section .map-nav .link a {
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 1px;
}

/* line 61, ../scss/_typography.scss */
h3 {
  font-style: italic;
}

/* line 70, ../scss/_typography.scss */
blockquote {
  margin: 0 0;
  position: relative;
}
/* line 74, ../scss/_typography.scss */
blockquote .quote {
  margin-bottom: 0;
  font-style: italic;
}
/* line 80, ../scss/_typography.scss */
blockquote .quote:before, blockquote .quote:after {
  position: absolute;
  color: #a4bf5f;
}
/* line 91, ../scss/_typography.scss */
blockquote .quote:after {
  content: '”';
  bottom: 0;
}
/* line 97, ../scss/_typography.scss */
blockquote .byline {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 103, ../scss/_typography.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 109, ../scss/_typography.scss */
nav ul.horizontal li {
  float: left;
}

/* line 117, ../scss/_typography.scss */
table th,
table td {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 123, ../scss/_typography.scss */
hr {
  height: 12px;
  width: 250px;
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url('../images/svg-images/hr-dark.svg?1380867414');
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  margin: 0.75em auto;
  width: 100%;
  height: 1.5em;
  border: none;
}
/* line 69, ../scss/_mixins.scss */
.no-svg hr {
  background-image: url('../images/png-images-seead215893.png');
  background-position: 0 0;
}

/* line 132, ../scss/_typography.scss */
.dark-section hr, .intro-section hr, .coffee-section hr, .gallery-section hr, .contact-section hr {
  height: 12px;
  width: 250px;
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url('../images/svg-images/hr-light.svg?1380867414');
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  width: 100%;
  height: 1.5em;
}
/* line 69, ../scss/_mixins.scss */
.no-svg .dark-section hr, .no-svg .intro-section hr, .no-svg .coffee-section hr, .no-svg .gallery-section hr, .no-svg .contact-section hr {
  background-image: url('../images/png-images-seead215893.png');
  background-position: 0 -12px;
}

/* line 140, ../scss/_typography.scss */
.ribbon {
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 0.75em 1.5em;
  margin: 1.5em 0;
}
@media (max-width: 700px) {
  /* line 140, ../scss/_typography.scss */
  .ribbon {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}
/* line 152, ../scss/_typography.scss */
.ribbon.first-color {
  background: #603913;
  text-shadow: 1px 1px 0 #35200b;
}
/* line 157, ../scss/_typography.scss */
.ribbon.first-color:before, .ribbon.first-color:after {
  border: 1.5em solid #1d1309;
}
/* line 163, ../scss/_typography.scss */
.ribbon.first-color .ribbon-content:before, .ribbon.first-color .ribbon-content:after {
  border-color: black transparent transparent transparent;
}
/* line 169, ../scss/_typography.scss */
.ribbon.second-color {
  background: #ee86b3;
  text-shadow: 1px 1px 0 #ef6ca5;
}
/* line 174, ../scss/_typography.scss */
.ribbon.second-color:before, .ribbon.second-color:after {
  border: 1.5em solid #de6399;
}
/* line 180, ../scss/_typography.scss */
.ribbon.second-color .ribbon-content:before, .ribbon.second-color .ribbon-content:after {
  border-color: #ca457e transparent transparent transparent;
}
/* line 186, ../scss/_typography.scss */
.ribbon.third-color {
  background: #97b153;
  text-shadow: 1px 1px 0 #8ca843;
}
/* line 191, ../scss/_typography.scss */
.ribbon.third-color:before, .ribbon.third-color:after {
  border: 1.5em solid #76864c;
}
/* line 197, ../scss/_typography.scss */
.ribbon.third-color .ribbon-content:before, .ribbon.third-color .ribbon-content:after {
  border-color: #555d41 transparent transparent transparent;
}
/* line 204, ../scss/_typography.scss */
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  z-index: -1;
}
/* line 211, ../scss/_typography.scss */
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent !important;
}
/* line 216, ../scss/_typography.scss */
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent !important;
}
/* line 222, ../scss/_typography.scss */
.ribbon .ribbon-content {
  margin: 0 0;
}
/* line 227, ../scss/_typography.scss */
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
}
/* line 234, ../scss/_typography.scss */
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
/* line 238, ../scss/_typography.scss */
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

/*------------------------------------------------------------------
	Form messages
-------------------------------------------------------------------*/
/* line 4, ../scss/_forms.scss */
.message, form label.required {
  margin-bottom: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  display: inline-block;
  color: #4f5f26;
  background-color: #a4bf5f;
  width: 83%;
}
@media (max-width: 960px) {
  /* line 4, ../scss/_forms.scss */
  .message, form label.required {
    width: 88%;
  }
}
@media (max-width: 700px) {
  /* line 4, ../scss/_forms.scss */
  .message, form label.required {
    width: 93%;
  }
}
/* line 15, ../scss/_forms.scss */
.message.success, form label.success.required {
  color: #4f5f26;
  background-color: #a4bf5f;
}
/* line 20, ../scss/_forms.scss */
.message.alert, form label.required {
  color: #9f2b0f;
  background-color: #ef7559;
}
/* line 25, ../scss/_forms.scss */
.message.warning, form .requiredField label.required, form label.warning.required {
  color: #ab7e12;
  background-color: #efc767;
}

/*------------------------------------------------------------------
	Form
-------------------------------------------------------------------*/
/* line 34, ../scss/_forms.scss */
form {
  text-align: left;
  /* required field */
  /* invalid field */
}
/* line 37, ../scss/_forms.scss */
form fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0 0;
  border: none;
}
/* line 44, ../scss/_forms.scss */
form label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
/* line 49, ../scss/_forms.scss */
form label.left {
  padding-top: 1.5em;
  display: block;
}
/* line 57, ../scss/_forms.scss */
form input,
form select,
form textarea {
  font-size: 1.0625em;
  line-height: 1.41176471em;
  margin: 0 0;
}
/* line 64, ../scss/_forms.scss */
form .checkbox,
form .optionset .middleColumn,
form .file .middleColumn {
  line-height: 3em;
}
/* line 69, ../scss/_forms.scss */
form .field,
form .middleColumn {
  min-height: 3em;
}
/* line 73, ../scss/_forms.scss */
form .middleColumn {
  position: relative;
  display: inline-block;
  width: 41.5%;
}
@media (max-width: 960px) {
  /* line 73, ../scss/_forms.scss */
  form .middleColumn {
    width: 44%;
  }
}
@media (max-width: 700px) {
  /* line 73, ../scss/_forms.scss */
  form .middleColumn {
    width: 93%;
  }
}
/* line 79, ../scss/_forms.scss */
form .half {
  margin-right: 0.5em;
  display: inline-block;
}
@media (max-width: 700px) {
  /* line 79, ../scss/_forms.scss */
  form .half {
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  /* line 79, ../scss/_forms.scss */
  form .half {
    display: inline-block;
  }
}
@media (max-width: 700px) {
  /* line 79, ../scss/_forms.scss */
  form .half {
    display: block;
  }
}
/* line 83, ../scss/_forms.scss */
form .half .middleColumn {
  width: 100%;
}
@media (max-width: 700px) {
  /* line 83, ../scss/_forms.scss */
  form .half .middleColumn {
    width: 93%;
  }
}
/* line 101, ../scss/_forms.scss */
form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="email"],
form input[type="month"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form input[type="week"],
form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0.7em;
  padding-left: 0.7em;
  width: 100%;
  min-height: 2.4em;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 2.4em;
  border: none;
  border-radius: 0;
  resize: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#D9FFFFFF', endColorstr='#D9FFFFFF');
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 120, ../scss/_forms.scss */
form .textarea .middleColumn {
  height: 10.5em;
  display: block;
  width: 83%;
}
@media (max-width: 960px) {
  /* line 120, ../scss/_forms.scss */
  form .textarea .middleColumn {
    width: 88%;
  }
}
@media (max-width: 700px) {
  /* line 120, ../scss/_forms.scss */
  form .textarea .middleColumn {
    width: 93%;
  }
}
/* line 126, ../scss/_forms.scss */
form .textarea textarea {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
}
/* line 135, ../scss/_forms.scss */
form .dropdown {
  /* background image on dropdown */
}
/* line 136, ../scss/_forms.scss */
form .dropdown .middleColumn {
  width: auto;
  height: auto;
  min-height: 2.4em;
  line-height: 2.4em;
  overflow: hidden;
  background-color: white;
  background-position: center right;
}
@media (max-width: 960px) {
  /* line 136, ../scss/_forms.scss */
  form .dropdown .middleColumn {
    width: auto;
  }
}
@media (max-width: 700px) {
  /* line 136, ../scss/_forms.scss */
  form .dropdown .middleColumn {
    width: 93%;
  }
}
/* line 146, ../scss/_forms.scss */
form .dropdown select {
  width: 100%;
  line-height: 2.4em;
}
/* line 153, ../scss/_forms.scss */
.backgroundsize form .dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2em;
  padding-left: 0.7em;
  width: 110%;
  background: transparent;
  border: none;
  border-color: #a4bf5f;
}
/* line 166, ../scss/_forms.scss */
form .checkbox,
form .optionset {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
/* line 171, ../scss/_forms.scss */
form .checkbox li,
form .optionset li {
  margin-right: 1em;
  display: inline-block;
}
/* line 183, ../scss/_forms.scss */
form .requiredField:after {
  margin-left: 0.5em;
  content: ' *';
  color: #ef7559;
}
/* line 191, ../scss/_forms.scss */
form label.required {
  margin: 0 0 0 0.5em;
  width: auto;
  min-width: 0;
  min-height: 2.4em;
  position: absolute;
  line-height: 2.4em;
}

/* :before, :after and css transform */
/* line 209, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox input[type="radio"],
.generatedcontent.csstransforms body .checkbox input[type="checkbox"],
.generatedcontent.csstransforms body .optionset .middleColumn input[type="radio"],
.generatedcontent.csstransforms body .optionset .middleColumn input[type="checkbox"] {
  display: none;
}
/* line 212, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox input[type="radio"]:checked + label:after,
.generatedcontent.csstransforms body .checkbox input[type="checkbox"]:checked + label:after,
.generatedcontent.csstransforms body .optionset .middleColumn input[type="radio"]:checked + label:after,
.generatedcontent.csstransforms body .optionset .middleColumn input[type="checkbox"]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 217, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label,
.generatedcontent.csstransforms body .optionset .middleColumn label {
  padding-left: 1.5em;
  position: relative;
  line-height: 1.5em;
}
/* line 223, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label:before, .generatedcontent.csstransforms body .checkbox label:after,
.generatedcontent.csstransforms body .optionset .middleColumn label:before,
.generatedcontent.csstransforms body .optionset .middleColumn label:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
/* line 229, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label:before,
.generatedcontent.csstransforms body .optionset .middleColumn label:before {
  display: inline-block;
  width: 1.125em;
  height: 1.125em;
  top: 0.0625em;
  left: 0.0625em;
  border: 1px solid #a4bf5f;
}
/* line 238, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label:after,
.generatedcontent.csstransforms body .optionset .middleColumn label:after {
  width: 0.625em;
  height: 0.625em;
  top: 0.3125em;
  left: 0.3125em;
  background-color: #a4bf5f;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 248, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label:hover:after,
.generatedcontent.csstransforms body .optionset .middleColumn label:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 258, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label:before,
.generatedcontent.csstransforms body .checkboxset .middleColumn label:before {
  width: 1em;
  height: 1em;
  top: 0.125em;
  left: 0.125em;
  border-radius: 0;
}
/* line 266, ../scss/_forms.scss */
.generatedcontent.csstransforms body .checkbox label:after,
.generatedcontent.csstransforms body .checkboxset .middleColumn label:after {
  height: 0.375em;
  top: 0.375em;
  background-color: transparent;
  border: 0.125em solid #a4bf5f;
  border-top: none;
  border-right: none;
  border-radius: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 283, ../scss/_forms.scss */
.generatedcontent.csstransforms body .dark-section .checkbox label:before, .generatedcontent.csstransforms body .intro-section .checkbox label:before, .generatedcontent.csstransforms body .coffee-section .checkbox label:before, .generatedcontent.csstransforms body .gallery-section .checkbox label:before, .generatedcontent.csstransforms body .contact-section .checkbox label:before, .generatedcontent.csstransforms body .dark-section .checkbox label:after, .generatedcontent.csstransforms body .intro-section .checkbox label:after, .generatedcontent.csstransforms body .coffee-section .checkbox label:after, .generatedcontent.csstransforms body .gallery-section .checkbox label:after, .generatedcontent.csstransforms body .contact-section .checkbox label:after,
.generatedcontent.csstransforms body .dark-section .optionset label:before,
.generatedcontent.csstransforms body .intro-section .optionset label:before,
.generatedcontent.csstransforms body .coffee-section .optionset label:before,
.generatedcontent.csstransforms body .gallery-section .optionset label:before,
.generatedcontent.csstransforms body .contact-section .optionset label:before,
.generatedcontent.csstransforms body .dark-section .optionset label:after,
.generatedcontent.csstransforms body .intro-section .optionset label:after,
.generatedcontent.csstransforms body .coffee-section .optionset label:after,
.generatedcontent.csstransforms body .gallery-section .optionset label:after,
.generatedcontent.csstransforms body .contact-section .optionset label:after {
  border-color: white;
}
/* line 287, ../scss/_forms.scss */
.generatedcontent.csstransforms body .dark-section .checkbox label:after, .generatedcontent.csstransforms body .intro-section .checkbox label:after, .generatedcontent.csstransforms body .coffee-section .checkbox label:after, .generatedcontent.csstransforms body .gallery-section .checkbox label:after, .generatedcontent.csstransforms body .contact-section .checkbox label:after,
.generatedcontent.csstransforms body .dark-section .optionset label:after,
.generatedcontent.csstransforms body .intro-section .optionset label:after,
.generatedcontent.csstransforms body .coffee-section .optionset label:after,
.generatedcontent.csstransforms body .gallery-section .optionset label:after,
.generatedcontent.csstransforms body .contact-section .optionset label:after {
  background-color: white;
}
/* line 294, ../scss/_forms.scss */
.generatedcontent.csstransforms body .dark-section .checkbox label:after, .generatedcontent.csstransforms body .intro-section .checkbox label:after, .generatedcontent.csstransforms body .coffee-section .checkbox label:after, .generatedcontent.csstransforms body .gallery-section .checkbox label:after, .generatedcontent.csstransforms body .contact-section .checkbox label:after,
.generatedcontent.csstransforms body .dark-section .checkboxset label:after,
.generatedcontent.csstransforms body .intro-section .checkboxset label:after,
.generatedcontent.csstransforms body .coffee-section .checkboxset label:after,
.generatedcontent.csstransforms body .gallery-section .checkboxset label:after,
.generatedcontent.csstransforms body .contact-section .checkboxset label:after {
  background-color: transparent;
}

/* making sure form elements have enough space in cols */
/* line 304, ../scss/_forms.scss */
.col form .middleColumn {
  width: 90%;
}
@media (max-width: 960px) {
  /* line 304, ../scss/_forms.scss */
  .col form .middleColumn {
    width: 95%;
  }
}
@media (max-width: 700px) {
  /* line 304, ../scss/_forms.scss */
  .col form .middleColumn {
    width: 100%;
  }
}

/*------------------------------------------------------------------
	Actions
-------------------------------------------------------------------*/
/* line 312, ../scss/_forms.scss */
.Actions {
  margin: 0 0 1.5em 0;
  min-height: 3em;
}

/* line 316, ../scss/_forms.scss */
.section-action {
  margin-top: 3em;
}

/*------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------*/
/* line 327, ../scss/_forms.scss */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 0.8125em;
  line-height: 3.69230769em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 1.2em 1.7em;
  margin: 0 0;
  height: auto;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: normal;
  background-color: #97b153;
  border: none;
  border-radius: 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: top;
}
/* line 348, ../scss/_forms.scss */
.button.alert,
button.alert,
input[type="button"].alert,
input[type="reset"].alert,
input[type="submit"].alert {
  background-color: #ef7559;
}

/* line 353, ../scss/_forms.scss */
a.button {
  color: white;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a.button:hover {
  color: white;
}

/* line 358, ../scss/_forms.scss */
input.disabled,
input[type="reset"] {
  background-color: #c7c7c7;
}

/* Firefox extra padding removal */
/* line 366, ../scss/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*------------------------------------------------------------------
	Slideshow
-------------------------------------------------------------------*/
/* line 4, ../scss/_slideshow.scss */
.slideshow {
  width: 100%;
  position: relative;
  /* slideshow nav arrows */
  /* slideshow nav dots */
}
/* line 8, ../scss/_slideshow.scss */
.slideshow ul, .slideshow ol {
  padding: 0;
  list-style: none;
}
/* line 18, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav {
  margin: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 27, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev,
.slideshow .flex-direction-nav .flex-next {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 996;
  font-family: entypo;
  font-size: 800%;
  color: white;
  display: table;
}
@media (max-width: 700px) {
  /* line 27, ../scss/_slideshow.scss */
  .slideshow .flex-direction-nav .flex-prev,
  .slideshow .flex-direction-nav .flex-next {
    display: none;
  }
}
/* line 42, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:before, .slideshow .flex-direction-nav .flex-prev:after,
.slideshow .flex-direction-nav .flex-next:before,
.slideshow .flex-direction-nav .flex-next:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 46, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:before,
.slideshow .flex-direction-nav .flex-next:before {
  position: relative;
  z-index: 997;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 55, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:after,
.slideshow .flex-direction-nav .flex-next:after {
  content: '';
  position: absolute;
  z-index: 996;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 67, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:hover:before,
.slideshow .flex-direction-nav .flex-next:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}
/* line 70, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:hover:after,
.slideshow .flex-direction-nav .flex-next:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 76, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev {
  left: 0;
}
/* line 79, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:before {
  content: '\E75D';
}
/* line 83, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-prev:after {
  background-image: -moz-linear-gradient(left, black, rgba(0, 0, 0, 0));
  /* FF 3.6+ */
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(left, black, rgba(0, 0, 0, 0));
  /* Opera 11.10 */
  background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
  /* Standard, IE10 */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00000000', GradientType=1);
  /* IE9 and down */
}
/* line 88, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-next {
  right: 0;
}
/* line 91, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-next:before {
  content: '\E75E';
}
/* line 95, ../scss/_slideshow.scss */
.slideshow .flex-direction-nav .flex-next:after {
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black);
  /* FF 3.6+ */
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(black));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), black);
  /* Opera 11.10 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000);
  /* Standard, IE10 */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=1);
  /* IE9 and down */
}
/* line 102, ../scss/_slideshow.scss */
.slideshow .flex-control-nav {
  position: absolute;
  z-index: 998;
  left: 47%;
  bottom: 0;
  cursor: pointer;
  line-height: 30px;
}
/* line 110, ../scss/_slideshow.scss */
.slideshow .flex-control-nav li {
  margin-right: 0.5em;
  display: inline-block;
  text-align: center;
}
/* line 116, ../scss/_slideshow.scss */
.slideshow .flex-control-nav li a {
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 26px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#4DFFFFFF', endColorstr='#4DFFFFFF');
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 124, ../scss/_slideshow.scss */
.slideshow .flex-control-nav li a:hover, .slideshow .flex-control-nav li a.flex-active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF49AC1', endColorstr='#FFF49AC1');
  background-color: #f49ac1;
}
/* line 130, ../scss/_slideshow.scss */
.slideshow .wrap {
  height: auto;
  overflow: hidden;
}
/* line 134, ../scss/_slideshow.scss */
.slideshow .wrap .slides {
  margin: 0;
  padding: 0;
}
/* line 138, ../scss/_slideshow.scss */
.slideshow .wrap .slides .photo {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* line 142, ../scss/_slideshow.scss */
.slideshow .wrap .slides .photo img {
  width: 100%;
  height: auto;
  display: block;
}

/*------------------------------------------------------------------
	Feature photo
-------------------------------------------------------------------*/
/* line 155, ../scss/_slideshow.scss */
.feature-photo-wrapper {
  display: block;
  position: relative;
  width: 100%;
}
/* line 160, ../scss/_slideshow.scss */
.feature-photo-wrapper .feature-photo-sizer {
  padding-top: 30%;
}
@media (max-width: 960px) {
  /* line 160, ../scss/_slideshow.scss */
  .feature-photo-wrapper .feature-photo-sizer {
    padding-top: 50%;
  }
}
@media (max-width: 700px) {
  /* line 160, ../scss/_slideshow.scss */
  .feature-photo-wrapper .feature-photo-sizer {
    padding-top: 60%;
  }
}
/* line 170, ../scss/_slideshow.scss */
.feature-photo-wrapper .feature-photo-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
/* line 179, ../scss/_slideshow.scss */
.feature-photo-wrapper .feature {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 35%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 37, ../scss/_development.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 42, ../scss/_development.scss */
body {
  height: 100%;
}

/* line 47, ../scss/_development.scss */
.grid-horizontal,
.grid-vertical {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
}

/* line 55, ../scss/_development.scss */
.grid-horizontal {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(100, 100, 100, 0.15)), color-stop(5%, rgba(100, 100, 100, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(100, 100, 100, 0.15) 5%, rgba(100, 100, 100, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(100, 100, 100, 0.15) 5%, rgba(100, 100, 100, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(100, 100, 100, 0.15) 5%, rgba(100, 100, 100, 0) 5%);
  background-image: linear-gradient(bottom, rgba(100, 100, 100, 0.15) 5%, rgba(100, 100, 100, 0) 5%);
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: left top;
  display: none;
}

/* line 60, ../scss/_development.scss */
.grid-vertical {
  margin: 0 auto;
  max-width: 1280px;
}

/* line 13, ../scss/layout.scss */
*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

/*------------------------------------------------------------------
	Main layout
-------------------------------------------------------------------*/
/* line 24, ../scss/layout.scss */
.logo {
  height: 240px;
  width: 285px;
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/svg-images/logo.svg?1380793051');
}
/* line 69, ../scss/_mixins.scss */
.no-svg .logo {
  background-image: url('../images/png-images-seead215893.png');
  background-position: 0 -85px;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

/* line 28, ../scss/layout.scss */
section {
  *zoom: 1;
  /* IE < 8 */
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 88, ../scss/_grid.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 700px) {
  /* line 28, ../scss/layout.scss */
  section {
    padding-top: 0 !important;
    background-attachment: scroll !important;
  }
}

/* line 39, ../scss/layout.scss */
.inner-wrapper {
  *zoom: 1;
  /* IE < 8 */
  clear: both;
  width: 100%;
  margin: 0 0%;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}
/* line 88, ../scss/_grid.scss */
.inner-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 47, ../scss/layout.scss */
.main {
  float: left;
  margin-right: -100%;
  width: 100%;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
@media (max-width: 960px) {
  /* line 47, ../scss/layout.scss */
  .main {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

/* line 57, ../scss/layout.scss */
.overlay, .menu-section .sandwitch-back,
.menu-section .sandwitch-front, .donut-section .donut-back,
.donut-section .donut-front, .map-section #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

/* line 65, ../scss/layout.scss */
.content-holder {
  position: relative;
  z-index: 1;
  display: inline-block;
}

/*------------------------------------------------------------------
	General layout
-------------------------------------------------------------------*/
/* line 74, ../scss/layout.scss */
.clearfix {
  *zoom: 1;
  /* IE < 8 */
  clear: both;
}
/* line 88, ../scss/_grid.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 78, ../scss/layout.scss */
.spacer-x1-top, .intro-section, .coffee-section, .donut-section, .map-section, .contact-section {
  padding-top: 1.5em;
}

/* line 79, ../scss/layout.scss */
.spacer-x2-top, .gallery-section .slideshow-text-wrapper {
  padding-top: 3em;
}

/* line 80, ../scss/layout.scss */
.spacer-x3-top {
  padding-top: 4.5em;
}

/* line 81, ../scss/layout.scss */
.spacer-x4-top {
  padding-top: 6em;
}

/* line 83, ../scss/layout.scss */
.spacer-x1-bottom, .intro-section, .coffee-section {
  padding-bottom: 1.5em;
}

/* line 84, ../scss/layout.scss */
.spacer-x2-bottom, .menu-section, .donut-section, .map-section {
  padding-bottom: 3em;
}

/* line 85, ../scss/layout.scss */
.spacer-x3-bottom {
  padding-bottom: 4.5em;
}

/* line 86, ../scss/layout.scss */
.spacer-x4-bottom {
  padding-bottom: 6em;
}

@media (max-width: 700px) {
  /* line 92, ../scss/layout.scss */
  .spacer-x1-top, .intro-section, .coffee-section, .donut-section, .map-section, .contact-section,
  .spacer-x2-top,
  .gallery-section .slideshow-text-wrapper,
  .spacer-x3-top,
  .spacer-x4-top {
    padding-top: 1.5em;
  }

  /* line 99, ../scss/layout.scss */
  .spacer-x1-bottom, .intro-section, .coffee-section,
  .spacer-x2-bottom,
  .menu-section,
  .donut-section,
  .map-section,
  .spacer-x3-bottom,
  .spacer-x4-bottom {
    padding-bottom: 1.5em;
  }
}
/*------------------------------------------------------------------
	Navigation
-------------------------------------------------------------------*/
/* line 108, ../scss/layout.scss */
nav {
  width: 100%;
  text-align: center;
}
/* line 112, ../scss/layout.scss */
nav .link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 0.5em;
  display: inline-block;
}
/* line 117, ../scss/layout.scss */
nav .link:hover {
  background-color: #a4bf5f;
}

/*------------------------------------------------------------------
	Sections
-------------------------------------------------------------------*/
/* line 127, ../scss/layout.scss */
.intro-section,
.contact-section {
  background: #241607 url("../images/backgrounds/intro-section.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
/* line 132, ../scss/layout.scss */
.intro-section .overlay-custom,
.contact-section .overlay-custom {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#4D000000', endColorstr='#4D000000');
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  /* line 141, ../scss/layout.scss */
  .intro-section .map-nav .link {
    width: 100%;
  }
}
/* line 152, ../scss/layout.scss */
.intro-section .logo {
  margin: 0 auto;
  margin-bottom: 3em;
}
@media (max-width: 700px) {
  /* line 152, ../scss/layout.scss */
  .intro-section .logo {
    margin-bottom: 1.5em;
  }
}
/* line 157, ../scss/layout.scss */
.intro-section .content-holder {
  width: 60%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
@media (max-width: 700px) {
  /* line 157, ../scss/layout.scss */
  .intro-section .content-holder {
    width: 100%;
  }
}

@media (max-width: 700px) {
  /* line 169, ../scss/layout.scss */
  .menu-section .col-1,
  .menu-section .col-2 {
    margin-bottom: 1.5em;
  }
}
/* line 175, ../scss/layout.scss */
.menu-section .cafe-menu {
  width: 33.33333333%;
  margin-right: 0;
  margin-left: 0;
  float: left;
}
@media (max-width: 960px) {
  /* line 175, ../scss/layout.scss */
  .menu-section .cafe-menu {
    width: 29.33333333%;
    margin-right: 2%;
    margin-left: 2%;
  }
}
@media (max-width: 700px) {
  /* line 175, ../scss/layout.scss */
  .menu-section .cafe-menu {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
/* line 183, ../scss/layout.scss */
.menu-section .cafe-menu .menu-icon {
  margin: 0 auto;
  margin-top: 1.5em;
}
/* line 188, ../scss/layout.scss */
.menu-section .cafe-menu .title {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
/* line 193, ../scss/layout.scss */
.menu-section .cafe-menu .icon-sandwitch {
  height: 61px;
  width: 61px;
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/svg-images/icon-sandwitch.svg?1380867414');
}
/* line 69, ../scss/_mixins.scss */
.no-svg .menu-section .cafe-menu .icon-sandwitch {
  background-image: url('../images/png-images-seead215893.png');
  background-position: -122px -24px;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
/* line 195, ../scss/layout.scss */
.menu-section .cafe-menu .icon-tomato {
  height: 61px;
  width: 61px;
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/svg-images/icon-tomato.svg?1380867414');
}
/* line 69, ../scss/_mixins.scss */
.no-svg .menu-section .cafe-menu .icon-tomato {
  background-image: url('../images/png-images-seead215893.png');
  background-position: -61px -24px;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
/* line 197, ../scss/layout.scss */
.menu-section .cafe-menu .icon-cake {
  height: 61px;
  width: 61px;
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/svg-images/icon-cake.svg?1380781041');
}
/* line 69, ../scss/_mixins.scss */
.no-svg .menu-section .cafe-menu .icon-cake {
  background-image: url('../images/png-images-seead215893.png');
  background-position: 0 -24px;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
/* line 199, ../scss/layout.scss */
.menu-section .cafe-menu .spacer {
  padding-left: 1.5em;
}
@media (max-width: 960px) {
  /* line 199, ../scss/layout.scss */
  .menu-section .cafe-menu .spacer {
    padding-left: 0;
  }
}
/* line 203, ../scss/layout.scss */
.menu-section .cafe-menu .product {
  width: 100%;
  border-bottom: 1px solid rgba(96, 57, 19, 0.1);
  line-height: 1.4375em;
}
/* line 209, ../scss/layout.scss */
.menu-section .cafe-menu .price {
  padding-right: 1.5em;
  color: #a4bf5f;
  font-style: italic;
  text-align: right;
}
@media (max-width: 960px) {
  /* line 209, ../scss/layout.scss */
  .menu-section .cafe-menu .price {
    padding-right: 0;
  }
}
/* line 221, ../scss/layout.scss */
.menu-section .sandwitch-back {
  background: url("../images/backgrounds/sandwitch-back.png") -10% 0 no-repeat fixed;
}
/* line 222, ../scss/layout.scss */
.menu-section .sandwitch-front {
  background: url("../images/backgrounds/sandwitch-front.png") 100% 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 223, ../scss/layout.scss */
.menu-section .overlay-custom {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#D9FFFFFF', endColorstr='#D9FFFFFF');
  background-color: rgba(255, 255, 255, 0.85);
}

/* line 226, ../scss/layout.scss */
.coffee-section {
  text-align: center;
  background: #291808 url("../images/backgrounds/coffee-section.jpg") 50% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 234, ../scss/layout.scss */
.coffee-section .overlay-custom {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 236, ../scss/layout.scss */
.coffee-section img {
  margin: 0 auto;
  display: block;
}

/* line 248, ../scss/layout.scss */
.donut-section .review {
  width: 75%;
  clear: both;
}
@media (max-width: 960px) {
  /* line 248, ../scss/layout.scss */
  .donut-section .review {
    width: 100%;
  }
}
/* line 254, ../scss/layout.scss */
.donut-section .review-1 img {
  float: left;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}
/* line 260, ../scss/layout.scss */
.donut-section .review-1 blockquote {
  margin-bottom: 3em;
}
/* line 265, ../scss/layout.scss */
.donut-section .review-2 {
  float: right;
}
/* line 268, ../scss/layout.scss */
.donut-section .review-2 img {
  float: right;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}
/* line 275, ../scss/layout.scss */
.donut-section .rating {
  letter-spacing: 10px;
  color: #a4bf5f;
}
@media (max-width: 700px) {
  /* line 275, ../scss/layout.scss */
  .donut-section .rating {
    letter-spacing: 0;
  }
}
/* line 284, ../scss/layout.scss */
.donut-section .donut-back {
  background: url("../images/backgrounds/donut-back.png") 90% 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 285, ../scss/layout.scss */
.donut-section .donut-front {
  background: url("../images/backgrounds/donut-front.png") -10% 0 no-repeat fixed;
}
/* line 286, ../scss/layout.scss */
.donut-section .overlay-custom {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#D9FFFFFF', endColorstr='#D9FFFFFF');
  background-color: rgba(255, 255, 255, 0.85);
}

/* line 289, ../scss/layout.scss */
.gallery-section {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
/* line 293, ../scss/layout.scss */
.gallery-section .slideshow-text-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 700px) {
  /* line 299, ../scss/layout.scss */
  .gallery-section .slideshow-text-wrapper .text {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  /* line 318, ../scss/layout.scss */
  .map-section .overlay-custom {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#B3FFFFFF', endColorstr='#B3FFFFFF');
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* line 329, ../scss/layout.scss */
.contact-section .ribbon {
  margin-left: 2em;
}
/* line 333, ../scss/layout.scss */
.contact-section .col-1 {
  float: left;
  margin-right: -100%;
  width: 55.38%;
}
/* line 337, ../scss/layout.scss */
.contact-section .col-2 {
  float: left;
  margin-right: -100%;
  width: 36.25%;
  margin-left: 57.38%;
}
@media (max-width: 700px) {
  /* line 342, ../scss/layout.scss */
  .contact-section .col {
    float: left;
    margin-right: -100%;
    width: 100%;
    margin-left: 0%;
    *zoom: 1;
    /* IE < 8 */
    clear: both;
  }
  /* line 88, ../scss/_grid.scss */
  .contact-section .col:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*------------------------------------------------------------------
	Media query classes
-------------------------------------------------------------------*/
/* line 352, ../scss/layout.scss */
.tablet {
  display: none !important;
  visibility: hidden;
}

/* line 353, ../scss/layout.scss */
.tablet-only {
  display: none !important;
  visibility: hidden;
}

/* line 354, ../scss/layout.scss */
.mobile-only {
  display: none !important;
  visibility: hidden;
}

/* line 355, ../scss/layout.scss */
.print {
  display: none !important;
  visibility: hidden;
}

@media (max-width: 960px) {
  /* line 358, ../scss/layout.scss */
  .desktop-only {
    display: none !important;
    visibility: hidden;
  }

  /* line 359, ../scss/layout.scss */
  .tablet-only {
    display: block !important;
    visibility: visible;
  }

  /* line 360, ../scss/layout.scss */
  .tablet {
    display: block !important;
    visibility: visible;
  }
}
@media (max-width: 700px) {
  /* line 364, ../scss/layout.scss */
  .desktop-only {
    display: none !important;
    visibility: hidden;
  }

  /* line 365, ../scss/layout.scss */
  .tablet-only {
    display: none !important;
    visibility: hidden;
  }

  /* line 366, ../scss/layout.scss */
  .tablet {
    display: block !important;
    visibility: visible;
  }

  /* line 367, ../scss/layout.scss */
  .mobile-only {
    display: block !important;
    visibility: visible;
  }
}
@media print {
  /* line 371, ../scss/layout.scss */
  .print {
    display: block !important;
    visibility: visible;
  }
}
