@import 'compass/layout/grid-background';
$grid-background-column-color: rgba(100, 100, 225, 0.1);
$grid-background-gutter-color: rgba(0, 0, 0, 0.0);
$grid-background-total-columns: $total_columns;
$grid-background-baseline-color: rgba(100, 100, 100, 0.15);
$grid-background-baseline-height: $base-line-height;
$grid-background-force-fluid: true;

@mixin baseline-grid-background(
		$baseline : $grid-background-baseline-height,
		$color    : $grid-background-baseline-color
	) {
		@if $show-grid-backgrounds and $show-baseline-grid-backgrounds {
		@include background-image(get-baseline-gradient($color));
		@include background-size(100% $baseline);
		background-position: left top;
	}
}

@mixin column-grid-background(
		$total          : $grid-background-total-columns,
		$column         : $grid-background-column-width,
		$gutter         : $grid-background-gutter-width,
		$offset         : $grid-background-offset,
		$column-color   : $grid-background-column-color,
		$gutter-color   : $grid-background-gutter-color,
		$force-fluid    : $grid-background-force-fluid
	) {
	@if $show-grid-backgrounds and $show-column-grid-backgrounds {
	@include background-image(
		get-column-gradient($total,$column,$gutter,$offset,$column-color,$gutter-color, $force-fluid)
	);
		background-position: left top;
	}
}

html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%
}

.grid-horizontal,
.grid-vertical {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 999;
	overflow: hidden;
	pointer-events: none;
}

.grid-horizontal {
	@include baseline-grid-background();
	display: none;
}

.grid-vertical {
	margin: 0 auto;
	max-width: $max_width;
	// @include column-grid-background();
}