/*------------------------------------------------------------------
	Form messages
-------------------------------------------------------------------*/
.message {
	@include margin-trailer(1);
	@include padding-leader(0.5);
	@include padding-trailer(0.5);
	padding-right: $baseline / 2;
	padding-left: $baseline / 2;
	display: inline-block;
	color: darken($third, 30%);
	background-color: $third;
	@include responsive(width $form-width-desktop $form-width-tablet $form-width-mobile);

	&.success {
		color: darken($success, 30%);
		background-color: $success;
	}

	&.alert {
		color: darken($alert, 30%);
		background-color: $alert;
	}

	&.warning {
		color: darken($warning, 30%);
		background-color: $warning;
	}
}

/*------------------------------------------------------------------
	Form
-------------------------------------------------------------------*/
form {
	text-align: left;

	fieldset {
		margin-right: 0;
		margin-left: 0;
		padding: 0 0;
		border: none;
	}

	label {
		@include user-select(none);
		display: inline-block;
		cursor: pointer;

		&.left {
			@include padding-leader(1);
			display: block;
		}
	}

	input,
	select,
	textarea {
		@include adjust-font-size-to(17px);
		margin: 0 0;
	}

	.checkbox,
	.optionset .middleColumn,
	.file .middleColumn {
		@include adjust-leading-to(2);
	}

	.field,
	.middleColumn {
		min-height: $baseline * 2;
	}

	.middleColumn {
		position: relative;
		display: inline-block;
		@include responsive(width $input-width-desktop $input-width-tablet $input-width-mobile);
	}

	.half {
		@include responsive(margin-right $horizontal-spacing false 0);
		@include responsive(display inline-block inline-block block);

		.middleColumn {
			@include responsive(width 100% false $input-width-mobile);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	textarea {
		@include appearance(none);
		@include box-sizing(border-box);
		padding-right: $input-padding;
		padding-left: $input-padding;
		width: 100%;
		min-height: $input-height;
		display: inline-block;
		font-family: $base-font-family;
		letter-spacing: 1px;
		line-height: $input-height;
		border: none;
		border-radius: 0;
		resize: none;
		@include border-radius($default-radius);
		@include rgba-background(white, 0.85);
	}

	.textarea {
		.middleColumn {
			height: $baseline * 7;
			display: block;
			@include responsive(width $form-width-desktop $form-width-tablet $form-width-mobile);
		}

		textarea {
			padding-top: $input-padding;
			padding-bottom: $input-padding;
			width: 100%;
			height: 100%;
			line-height: $baseline;
		}
	}

	.dropdown {
		.middleColumn {
			@include responsive(width auto auto $input-width-mobile);
			height: auto;
			min-height: $input-height;
			line-height: $input-height;
			overflow: hidden;
			background-color: white;
			background-position: center right;
		}

		select {
			width: 100%;
			line-height: $input-height;
		}

		/* background image on dropdown */
		@include modernizr('.backgroundsize') {
			select {
				@include appearance(none);
				padding-right: 2em;
				padding-left: $input-padding;
				width: 110%;
				background: transparent;
				border: none;
				border-color: $third;
			}
		}
	}

	.checkbox,
	.optionset {
		margin: 0 0;
		padding: 0 0;
		list-style: none;

		li {
			margin-right: 1em;
			display: inline-block;
		}
	}

	/* required field */
	.requiredField {
		label.required {
			@extend .message.warning;
		}

		&:after {
			margin-left: $horizontal-spacing;
			content: ' *';
			color: $alert;
		}
	}

	/* invalid field */
	label.required {
		@extend .message;
		@extend .message.alert;
		margin: 0 0 0 $horizontal-spacing;
		width: auto;
		min-width: 0;
		min-height: $input-height;
		position: absolute;
		line-height: $input-height;
	}
}

/* :before, :after and css transform */
body {
	@include modernizr('.generatedcontent.csstransforms') {
		.checkbox,
		.optionset .middleColumn {
			input[type="radio"],
			input[type="checkbox"] {
				display: none;

				&:checked + label:after {
					@include opacity(1.0);
				}
			}

			label {
				padding-left: $baseline;
				position: relative;
				line-height: $baseline;

				&:before,
				&:after {
					content: '';
					position: absolute;
					border-radius: 50%;
				}

				&:before {
					display: inline-block;
					width: em(18px);
					height: em(18px);
					top: em(1px);
					left: em(1px);
					border: 1px solid $third;
				}

				&:after {
					width: em(10px);
					height: em(10px);
					top: em(5px);
					left: em(5px);
					background-color: $third;
					@include opacity(0.0);
				}

				&:hover {
					&:after {
						@include opacity(0.5);
					}
				}
			}
		}

		.checkbox,
		.checkboxset .middleColumn {
			label {
				&:before {
					width: em(16px);
					height: em(16px);
					top: em(2px);
					left: em(2px);
					border-radius: 0;
				}

				&:after {
					height: em(6px);
					top: em(6px);
					background-color: transparent;
					border: em(2px) solid $third;
					border-top: none;
					border-right: none;
					border-radius: 0;
					@include rotate(-45deg);
				}
			}
		}

		.dark-section {
			.checkbox label,
			.optionset label {
				&:before,
				&:after {
					border-color: white;
				}

				&:after {
					background-color: white;
				}
			}

			.checkbox label,
			.checkboxset label {
				&:after {
					background-color: transparent;
				}
			}
		}
	}
}

/* making sure form elements have enough space in cols */
.col {
	form .middleColumn {
		@include responsive(width 90% 95% 100%);
	}
}

/*------------------------------------------------------------------
	Actions
-------------------------------------------------------------------*/
.Actions {
	margin: 0 0 $baseline 0;
	min-height: $baseline * 2;
}
.section-action {
	margin-top: $baseline * 2;
}

/*------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include adjust-font-size-to(13px, 2);
	@include appearance(none);
	@include user-select(none);
	padding: 1.2em 1.7em;
	margin: 0 0;
	height: auto;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-family: $base-font-family;
	letter-spacing: 1px;
	line-height: normal;
	background-color: desaturate(darken($success, 5%), 5%);
	border: none;
	border-radius: 0;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: top;

	&.alert {
		background-color: $alert;
	}
}

a.button {
	@include link-colors(white, white);
}

input.disabled,
input[type="reset"] {
	background-color: desaturate($second, 100%);
}

/* Firefox extra padding removal */
button,
input,
textarea {
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}