/*------------------------------------------------------------------
	Responsive breakpoints
-------------------------------------------------------------------*/
/* Normall fill for smaller screens */
@mixin normalfill() {
	@include column(8);
	@include push(0);
	@include clearfix();
}

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: $desktop) { @content; }
	} @else if $point == tablet {
		@media (max-width: $desktop) { @content; }
	} @else if $point == mobile {
		@media (max-width: $mobile)  { @content; }
	} @else if $point == print {
		@media print { @content; }
	}
}

/* @one-property: property desktop tablet mobile */
/* @example: @include responsive(padding-right 19% false $baseline) */
/* @two-properties: property-1 desktop tablet mobile, property-2 desktop tablet mobile */
/* @example: @include responsive(padding-right 19% false $baseline, padding-left 19% false $baseline) */
@mixin responsive($properties...) {
	$default-val: ();
	$tablet-val: ();
	$mobile-val: ();

	@each $prop in $properties {
		$default-val: nth($prop, 2);
		$tablet-val: nth($prop, 3);
		$mobile-val: nth($prop, 4);
	}

	@if $default-val != false {
		@each $prop in $properties {
			$property: nth($prop, 1);
			$default-val: nth($prop, 2);
			#{$property}: $default-val;
		}
	}
	@if $tablet-val != false {
		@include breakpoint(tablet) {
			@each $prop in $properties {
				$property: nth($prop, 1);
				$tablet-val: nth($prop, 3);
				#{$property}: $tablet-val;
			}
		}
	}
	@if $mobile-val != false {
		@include breakpoint(mobile) {
			@each $prop in $properties {
				$property: nth($prop, 1);
				$mobile-val: nth($prop, 4);
				#{$property}: $mobile-val;
			}
		}
	}
}

/*------------------------------------------------------------------
	Modernizr checks
-------------------------------------------------------------------*/
@mixin modernizr($properties) {
	#{$properties} & { @content };
}

/*------------------------------------------------------------------
	SVG with PNG sprite fallback
-------------------------------------------------------------------*/
$pngs: sprite-map("png-images/*.png", $layout: smart);

@mixin svg-bg($file, $bgsize, $extension: '.png') {
	background-image: image-url('svg-images/' + $file + '.svg');
	@include modernizr('.no-svg') {
		background-image: sprite-url($pngs);
		background-position: sprite-position($pngs, $file);
		@if ($bgsize != auto) {
			@include background-size(auto);
		}
	}
}

/* use this: */
@mixin sprite($file, $bgsize: cover, $display: block, $repeat: no-repeat, $svg: true) {
	height: image-height(sprite-file($pngs, $file));
	width: image-width(sprite-file($pngs, $file));
	overflow: hidden;
	display: $display;
	background-position: center center;
	background-repeat: $repeat;
	@include background-size($bgsize);
	@include svg-bg($file, $bgsize);
}

/*------------------------------------------------------------------
	typography mixins and functions
-------------------------------------------------------------------*/
@function em($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 };
	@return $target / $context + 0em;
}

@mixin font-size-and-margin($font-size: $base-font-size, $lines: 1, $margin: true true) {
	@if $lines == 1 {
		@include adjust-font-size-to($font-size, lines-for-font-size($font-size));
	} @else if $lines != 1 {
		@include adjust-font-size-to($font-size, $lines);
	}
	@if nth($margin, 1) == true {
		margin-top: rhythm($lines, $font-size);
	} @else {
		margin-top: 0;
	}
	@if nth($margin, 2) == true {
		margin-bottom: rhythm($lines, $font-size);
	} @else {
		margin-bottom: 0;
	}
}

/*------------------------------------------------------------------
	General mixins
-------------------------------------------------------------------*/
@mixin hidden {
	display: none !important;
	visibility: hidden;
}

@mixin visible {
	display: block !important;
	visibility: visible;
}

/* creates an RGBa background, and uses filter as fall back for old IE
@example: @include rgba-background(#000, 0.5); */
@mixin rgba-background($color, $opacity) {
	$rgba: rgba($color, $opacity);
	@include filter-gradient($rgba, $rgba, "vertical");
	background-color: $rgba;
}

/* easily create a linear gradient without worrying about different prefixes of IE fallback
NOTE: the IE fallback also applies to modern IE, so make sure you set "filter: none !important;" on IE > 8
@example normal gradient: @include simple-gradient(#000, #FFF);
@example horizontal gradient: @include simple-gradient(#000, #FFF, horizontal);
@example no SVG fallback for IE9: @include simple-gradient(#000, #FFF, vertical, false); */
@mixin gradient($start-color, $end-color, $orientation: vertical, $svg-fallback: true) {
	background-color: $start-color;
	@include filter-gradient($start-color, $end-color, $orientation);
	$orientation: if($orientation == vertical, top, left);
	$experimental-support-for-svg: $svg-fallback;
	@include background-image(linear-gradient(top, $start-color 0%, $end-color 100%));
	@include background-clip(padding-box);
}
@mixin gradient-horizontal($startColor: #555, $endColor: #333) {
	background-image: -moz-linear-gradient(left, $startColor, $endColor); /* FF 3.6+ */
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); /* Safari 4+, Chrome 2+ */
	background-image: -webkit-linear-gradient(left, $startColor, $endColor); /* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient(left, $startColor, $endColor); /* Opera 11.10 */
	background-image: linear-gradient(to right, $startColor, $endColor); /* Standard, IE10 */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=1); /* IE9 and down */
}

/* Make new list based on variable/mixin list */
@function stuffit($list, $path) {
	$newlist: ();
	@for $i from 1 through length($list) {
		$dump: ();
		$item: nth($list, $i);

		@each $type in $list {
			$dump: font-files("#{$path}.#{$item}");
		}
		$newlist: append($newlist, $dump, comma);
	}
	@return $newlist;
}

/* make it easy to include a font via font-face
includes eot by default, other font types are optional
Example: @include custom-font('myFontName', 'folder', ('', 'light', 'bold'), ('woff', 'ttf')); */
@mixin custom-font($fileName, $folderPath: false, $weightList: false, $typeList: (woff, ttf, eot, svg)) {
	@each $weight in $weightList {
		@font-face {
			/* Sets file name */
			$file: $fileName;
			@if $weight != '' {
				$file: "#{$fileName}-#{$weight}";
			}
			/* Sets file path */
			$path: #{$file};
			@if $folderPath != '' {
				$path: #{$folderPath}/#{$file};
			}
			$eot: "#{$path}.eot";
			$ie: unquote("#{$eot}?#iefix");
			font-family: quote(#{$file});
			src: font-url($eot);
			src: font-url($ie) unquote("format('embedded-opentype')"), stuffit($typeList, $path);
		}

		/* Creates class for font */
		$class: #{$fileName};
		@if $weight != '' {
			$class: #{$fileName}-#{$weight};
		}
		.#{$class} {
			font-family: quote($class);
			font-weight: normal;
			font-style: normal;
		}
	}
}