/*------------------------------------------------------------------
	Slideshow
-------------------------------------------------------------------*/
.slideshow {
	width: 100%;
	position: relative;

	ul, ol {
		padding: 0;
		list-style: none;
	}

	// .slideshow-nav {
	// 	@include hidden;
	// }

	/* slideshow nav arrows */
	.flex-direction-nav {
		margin: 0 0 0 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.flex-prev,
		.flex-next {
			width: 20%;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 996;
			font-family: entypo;
			font-size: 800%;
			color: white;
			display: table;
			@include breakpoint(mobile) {
				display: none;
			}

			&:before,
			&:after {
				@include opacity(0.0);
			}

			&:before {
				position: relative;
				z-index: 997;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				@include transition(0.1s);
			}

			&:after {
				content: '';
				position: absolute;
				z-index: 996;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(0.1s);
			}

			&:hover {
				&:before {
					@include opacity(0.65);
				}
				&:after {
					@include opacity(0.3);
				}
			}
		}

		.flex-prev {
			left: 0;

			&:before {
				content: '\E75D';
			}

			&:after {
				@include gradient-horizontal(rgba(0,0,0, 1.0), rgba(0,0,0, 0.0));
			}
		}

		.flex-next {
			right: 0;

			&:before {
				content: '\E75E';
			}

			&:after {
				@include gradient-horizontal(rgba(0,0,0, 0.0), rgba(0,0,0, 1.0));
			}
		}
	}

	/* slideshow nav dots */
	.flex-control-nav {
		position: absolute;
		z-index: 998;
		left: 47%;
		bottom: 0;
		cursor: pointer;
		line-height: 30px;

		li {
			margin-right: 0.5em;
			display: inline-block;
			text-align: center;
		}

		li a {
			width: 13px;
			height: 13px;
			display: block;
			border-radius: 26px;
			@include rgba-background(white, .3);

			&:hover,
			&.flex-active {
				@include rgba-background($second, 1);
			}
		}
	}

	.wrap {
		height: auto;
		overflow: hidden;

		.slides {
			margin: 0;
			padding: 0;

			.photo {
				display: none;
				-webkit-backface-visibility: hidden;

				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}
}

/*------------------------------------------------------------------
	Feature photo
-------------------------------------------------------------------*/
.feature-photo-wrapper {
	display: block;
	position: relative;
	width: 100%;

	.feature-photo-sizer {
		padding-top: 30%;
		@include breakpoint(tablet) {
			padding-top: 50%;
		}
		@include breakpoint(mobile) {
			padding-top: 60%;
		}
	}

	.feature-photo-shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
	}

	.feature {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-position: 50% 35%;
		-webkit-background-size: 100% auto;
		   -moz-background-size: 100% auto;
		     -o-background-size: 100% auto;
		        background-size: 100% auto;
	}
}