@include custom-font('entypo', '', (''));
.entypo { @extend .font-large; }

@include custom-font('blanch', '', ('caps', 'condensed'));

@include custom-font('aleo', '', ('regular'));

body {
	color: darken($first, 3%);
	font-family: $base-font-family;
}
.dark-section {
	color: white;
}

a {
	@include link-colors($first);
	text-decoration: none;
}
.dark-section {
	a {
		@include link-colors(white);
	}
}

/*------------------------------------------------------------------
	Headers and other font styles
-------------------------------------------------------------------*/
.font-xxlarge { @include font-size-and-margin($font-xxlarge, 1, false false); }
.font-xlarge { @include font-size-and-margin($font-xlarge); }
.font-large { @include font-size-and-margin($font-large); }
.font-medium { @include font-size-and-margin($font-medium); }
.font-small { @include font-size-and-margin($font-small); }
.font-xsmall { @include font-size-and-margin($font-xsmall); }
.font-xxsmall { @include font-size-and-margin($font-xxsmall); }
.font-base { @include font-size-and-margin($base-font-size); }
@include breakpoint(mobile) {
	.font-xxlarge { @include font-size-and-margin($font-xlarge, 1, false false); }
	.font-xlarge { @include font-size-and-margin($font-large); }
	.font-large { @include font-size-and-margin($font-medium); }
	.font-medium { @include font-size-and-margin($font-small); }
	.font-small { @include font-size-and-margin($font-xsmall); }
}

h1 {
	@extend .font-xxlarge;
	@extend .blanch-condensed;
	&.title {
		text-shadow: 6px 5px 0px rgba(#000, 0.15);
	}
}

h2 {
	@extend .font-xxsmall;
	font-weight: normal;
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 1px;
}

h3 {
	@extend .font-medium;
	font-style: italic;
}

p {
	@extend .font-base;
}

blockquote {
	margin: 0 0;
	position: relative;

	.quote {
		@extend h2;
		margin-bottom: 0;
		font-style: italic;

		&:before,
		&:after {
			@extend .font-xxlarge;
			position: absolute;
			color: $third;
		}

		// &:before {
		// 	content: '“';
		// 	top: 0;
		// 	left: 0;
		// }
		&:after {
			content: '”';
			bottom: 0;
		}
	}

	.byline {
		@extend .font-xxsmall;
		@include opacity(0.8);
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	&.horizontal {
		li {
			float: left;
		}
	}
}

table {
	th,
	td {
		padding-top: 0;
		padding-bottom: 0;
	}
}

hr {
	@include sprite(hr-dark, auto);
	@include opacity(0.2);
	margin: ($baseline / 2) auto;
	width: 100%;
	height: $baseline;
	border: none;
}
.dark-section {
	hr {
		@include sprite(hr-light, auto);
		@include opacity(0.4);
		width: 100%;
		height: $baseline;
	}
}

.ribbon {
	position: relative;
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: ($baseline / 2) $baseline;
	margin: $baseline 0;
	@include breakpoint(mobile) {
		margin-right: $baseline;
		margin-left: $baseline;
	}

	&.first-color {
		background: $first;
		text-shadow: 1px 1px 0 darken($first, 10%);

		&:before,
		&:after {
			border: $baseline solid desaturate(darken($first, 15%), 15%);
		}

		.ribbon-content {
			&:before,
			&:after {
				border-color: desaturate(darken($first, 25%), 25%) transparent transparent transparent;
			}
		}
	}

	&.second-color {
		background: desaturate(darken($second, 5%), 5%);
		text-shadow: 1px 1px 0 darken($second, 10%);

		&:before,
		&:after {
			border: $baseline solid desaturate(darken($second, 15%), 15%);
		}

		.ribbon-content {
			&:before,
			&:after {
				border-color: desaturate(darken($second, 25%), 25%) transparent transparent transparent;
			}
		}
	}

	&.third-color {
		background: desaturate(darken($third, 5%), 5%);
		text-shadow: 1px 1px 0 darken($third, 10%);

		&:before,
		&:after {
			border: $baseline solid desaturate(darken($third, 15%), 15%);
		}

		.ribbon-content {
			&:before,
			&:after {
				border-color: desaturate(darken($third, 25%), 25%) transparent transparent transparent;
			}
		}
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		display: block;
		bottom: -1em;
		z-index: -1;
	}
	&:before {
		left: -2em;
		border-right-width: 1.5em;
		border-left-color: transparent !important;
	}
	&:after {
		right: -2em;
		border-left-width: 1.5em;
		border-right-color: transparent !important;
	}

	.ribbon-content {
		@extend h2;
		margin: 0 0;

		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;
			border-style: solid;
			bottom: -1em;
		}
		&:before {
			left: 0;
			border-width: 1em 0 0 1em;
		}
		&:after {
			right: 0;
			border-width: 1em 1em 0 0;
		}
	}
}