/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
@import 'compass/typography/vertical_rhythm';
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: Arial, Helvetica, sans-serif;
$baseline: rhythm(1, $base-font-size);
// $round-to-nearest-half-line: true;
@include establish-baseline;

$font-xxlarge: 90px;
$font-xlarge: 53px;
$font-large: 43px;
$font-medium: 30px;
$font-small: 24px;
$font-xsmall: 20px;
$font-xxsmall: 15px;

/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
$total_width: 100%;
$total_columns: 8;
$container_margin: 0%;
$gutter_width: 2%;
$max_width: 1280px;

/*------------------------------------------------------------------
	Colors
-------------------------------------------------------------------*/
$first: #603913;  // Brown
$second: #F49AC1; // Pink
$third: #A4BF5F;  // Green

$success: $third;                              /* Green */
$warning: #EFC767;                             /* Yellow */
$alert: desaturate(darken(#F5866C, 5%), 5%);   /* Red */

/*------------------------------------------------------------------
	General variables
-------------------------------------------------------------------*/
$logo-height: image-height('png-images/logo.png');

$horizontal-spacing: 0.5em;
$vertical-spacing: rhythm(5);
$input-height: 2.4em;
$default-radius: 3px;

/* Responsive */
$form-width-desktop:  83%;
$form-width-tablet:   88%;
$form-width-mobile:   93%;
$input-width-desktop: ($form-width-desktop / 2);
$input-width-tablet:  ($form-width-tablet / 2);
$input-width-mobile:  ($form-width-mobile);
$input-padding: 0.7em;

/*------------------------------------------------------------------
	Responsive breakpoints
-------------------------------------------------------------------*/
$desktop: 960px;
$mobile: 700px;