@import 'normalize';
@import 'vendors';
@import 'grid';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'forms';
@import 'slideshow';
@import 'development';

*,
*:before,
*::after {
	@include box-sizing(border-box);
	@include transition(
		color 0.2s ease-in,
		background-color 0.2s ease-in
	);
}

/*------------------------------------------------------------------
	Main layout
-------------------------------------------------------------------*/
.logo {
	@include sprite(logo);
}

section {
	@include clearfix();
	width: 100%;
	position: relative;
	overflow: hidden;
	@include breakpoint(mobile) {
		padding-top: 0 !important;
		background-attachment: scroll !important;
	}
}

.inner-wrapper {
	@include clearfix();
	@include container();
	margin: 0 auto;
	max-width: $max_width;
	position: relative;
}

.main {
	@include column(8);
	@include responsive(
		padding-right ($baseline * 2) $baseline false,
		padding-left ($baseline * 2) $baseline false
	);
	padding-top: $baseline;
	padding-bottom: $baseline;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	pointer-events: none;
}

.content-holder {
	position: relative;
	z-index: 1;
	display: inline-block;
}

/*------------------------------------------------------------------
	General layout
-------------------------------------------------------------------*/
.clearfix {
	@include clearfix();
}

.spacer-x1-top { padding-top: $baseline; }
.spacer-x2-top { padding-top: $baseline * 2; }
.spacer-x3-top { padding-top: $baseline * 3; }
.spacer-x4-top { padding-top: $baseline * 4; }

.spacer-x1-bottom { padding-bottom: $baseline; }
.spacer-x2-bottom { padding-bottom: $baseline * 2; }
.spacer-x3-bottom { padding-bottom: $baseline * 3; }
.spacer-x4-bottom { padding-bottom: $baseline * 4; }

@include breakpoint(mobile) {
	.spacer-x1-top,
	.spacer-x2-top,
	.spacer-x3-top,
	.spacer-x4-top {
		padding-top: $baseline;
	}

	.spacer-x1-bottom,
	.spacer-x2-bottom,
	.spacer-x3-bottom,
	.spacer-x4-bottom {
		padding-bottom: $baseline;
	}
}


/*------------------------------------------------------------------
	Navigation
-------------------------------------------------------------------*/
nav {
	width: 100%;
	text-align: center;

	.link {
		@include border-radius($default-radius);
		padding: 0 ($baseline / 3);
		display: inline-block;

		&:hover {
			background-color: $third;
		}
	}
}

/*------------------------------------------------------------------
	Sections
-------------------------------------------------------------------*/
.intro-section,
.contact-section {
	background: darken($first, 14%) url('../images/backgrounds/intro-section.jpg') 50% 0 no-repeat fixed;
	@include background-size(cover);
	text-shadow: 1px 1px 0 rgba(black, 0.3);

	.overlay-custom { @include rgba-background(black, 0.3); }
}

.intro-section {
	@extend .dark-section;
	@extend .spacer-x1-top;
	@extend .spacer-x1-bottom;

	.map-nav {
		.link {
			@include breakpoint(mobile) {
				width: 100%;
			}

			a {
				@extend h2;
			}
		}
	}

	.logo {
		margin: 0 auto;
		@include responsive(margin-bottom ($baseline * 2) false $baseline);
	}

	.content-holder {
		@include responsive(width 60% false 100%);
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.menu-section {
	@extend .spacer-x2-bottom;

	.col-1,
	.col-2 {
		@include breakpoint(mobile) {
			margin-bottom: $baseline;
		}
	}

	.cafe-menu {
		@include responsive(
			width (100% / 3) ((100% / 3) - 4) 100%,
			margin-right 0 (4% / 2) 0,
			margin-left 0 (4% / 2) 0
		);
		float: left;

		.menu-icon {
			margin: 0 auto;
			margin-top: $baseline;
		}

		.title {
			margin-top: $baseline / 2;
			margin-bottom: $baseline / 2;
		}

		.icon-sandwitch { @include sprite(icon-sandwitch); }

		.icon-tomato { @include sprite(icon-tomato); }

		.icon-cake { @include sprite(icon-cake); }

		.spacer {
			@include responsive(padding-left $baseline 0 false);
		}

		.product {
			width: 100%;
			border-bottom: 1px solid rgba($first, 0.1);
			line-height: rhythm(1, $base-font-size, 1px);
		}

		.price {
			@include responsive(padding-right $baseline 0 false);
			color: $third;
			font-style: italic;
			text-align: right;
		}
	}

	.sandwitch-back,
	.sandwitch-front {
		@extend .overlay;
	}
	.sandwitch-back { background: url('../images/backgrounds/sandwitch-back.png') -10% 0 no-repeat fixed; }
	.sandwitch-front { background: url('../images/backgrounds/sandwitch-front.png') 100% 0 no-repeat fixed; @include opacity(0.5); }
	.overlay-custom { @include rgba-background(#FFF, 0.85); }
}

.coffee-section {
	@extend .dark-section;
	@extend .spacer-x1-top;
	@extend .spacer-x1-bottom;
	text-align: center;
	background: darken($first, 13%) url('../images/backgrounds/coffee-section.jpg') 50% 0 no-repeat;
	@include background-size(cover);

	.overlay-custom { @include rgba-background(black, 0.5); }

	img {
		margin: 0 auto;
		display: block;
	}
}

.donut-section {
	@extend .spacer-x1-top;
	@extend .spacer-x2-bottom;

	$review-image-width: image-width('../images/reviews/review-1.png');

	.review {
		@include responsive(width 75% 100% false);
		clear: both;
	}

	.review-1 {
		img {
			float: left;
			padding-right: $baseline;
			padding-bottom: $baseline;
		}

		blockquote {
			margin-bottom: $baseline * 2;
		}
	}

	.review-2 {
		float: right;

		img {
			float: right;
			padding-left: $baseline;
			padding-bottom: $baseline;
		}
	}

	.rating {
		@include responsive(letter-spacing 10px false 0);
		color: $third;
	}

	.donut-back,
	.donut-front {
		@extend .overlay;
	}
	.donut-back { background: url('../images/backgrounds/donut-back.png') 90% 0 no-repeat fixed; @include opacity(0.4);}
	.donut-front { background: url('../images/backgrounds/donut-front.png') -10% 0 no-repeat fixed; }
	.overlay-custom { @include rgba-background(white, 0.85); }
}

.gallery-section {
	@extend .dark-section;
	text-shadow: 1px 1px 0 rgba(black, 0.3);

	.slideshow-text-wrapper {
		@extend .spacer-x2-top;
		width: 100%;
		position: absolute;
		top: 0; left: 0;

		.text {
			@include breakpoint(mobile) {
				display: none;
				visibility: hidden;
			}
		}
	}
}

.map-section {
	// @extend .dark-section;
	@extend .spacer-x1-top;
	@extend .spacer-x2-bottom;
	// background-color: #232323;

	#map {
		@extend .overlay;
	}

	.overlay-custom {
		@include breakpoint(mobile) {
			@include rgba-background(white, 0.7);
		}
	}
}

.contact-section {
	@extend .dark-section;
	@extend .spacer-x1-top;

	.ribbon {
		margin-left: 2em;
	}

	.col-1 {
		@include column(4.5);
	}

	.col-2 {
		@include column(3);
		@include push(4.5);
	}

	.col {
		@include breakpoint(mobile) {
			@include normalfill();
		}
	}
}

/*------------------------------------------------------------------
	Media query classes
-------------------------------------------------------------------*/
.tablet { @include hidden; }
.tablet-only { @include hidden; }
.mobile-only { @include hidden; }
.print { @include hidden; }

@include breakpoint(tablet) {
	.desktop-only { @include hidden; }
	.tablet-only { @include visible; }
	.tablet { @include visible; }
}

@include breakpoint(mobile) {
	.desktop-only { @include hidden; }
	.tablet-only { @include hidden; }
	.tablet { @include visible; }
	.mobile-only { @include visible; }
}

@include breakpoint(print) {
	.print { @include visible; }
}